<section class="container">
  <a routerLink="/posts" class="btn">Back To Posts</a>
  <div class="post bg-white p-1 my-1">
    <div>
      <a routerLink="/profile">
        <img class="round-img" src="{{ post.avatar }}" alt="" />
        <h4>{{ post.name }}</h4>
      </a>
    </div>
    <div>
      <p class="my-1">
        {{ post.text }}
      </p>
    </div>
  </div>

  <div class="post-form">
    <app-comment-form></app-comment-form>
  </div>
  <app-comment-item
    [isLoading]="isLoading"
    [comments]="comments"
  ></app-comment-item>
</section>
